.Section-about{
    width: 100%;
    height: auto;
    background: #3BACB6;
}
.About-component{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 800px;
    padding: 5px;
}
.Hello-title{
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
.About-container{
    display: flex;
    gap: 5px;
}
.About-info{
    text-align: center;
    align-self: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    max-width: 500px;
}
.About-images{
    display: grid;
}
.About-images img{
    width: 200px;
    height: 250px;
    border-radius: 5px;
}
.Image-1{
    z-index: 1;
    grid-column: 1/6;
    grid-row: 3/8;
}
.Image-2{
    grid-column: 4/8;
    grid-row: 1/7;
}
.Image-2:hover{
    z-index: 1;
}
.Image-3{
    grid-column: 5/10;
    grid-row: 5/11;
}
.Image-3:hover{
    z-index: 1;
}
@media (max-width: 800px) {
    .About-container{
        justify-content: center;
        flex-wrap: wrap;
    }
    .About-images img {
        width: 170px;
        height: 220px;
    }
}