:root {
    --font-color: #333;
    --background-color: #eee;
    --link-color: cornflowerblue;
  }
  
  [data-theme="dark"] {
    --font-color: #eee;
    --background-color: #333;
    --link-color: lightblue;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--font-color);
    transition: background-color .5s ease-in-out;
  }
  
  a {
    color: var(--link-color);
  }
  
  /* Custom Dark Mode Toggle Element */
  
  .toggle-theme-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .toggle-theme-wrapper span {
    font-size: 16px;
    margin: 0 4px;
  }
  
  .toggle-theme {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 50px;
  }
  
  .toggle-theme input {
    display: none;
  }
  
  .slider {
    background-color: #ccc;
    position: absolute;
    cursor: pointer;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition: 0.2s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    width: 12px;
    height: 12px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  input:checked + .slider {
    background-color: cornflowerblue;
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
